@define-color base   #f5f5f5;
@define-color mantle #ececec;
@define-color crust  #ffffff;

@define-color text     #333333;
@define-color subtext0 #666666;
@define-color subtext1 #999999;

@define-color surface0 #e0e0e0;
@define-color surface1 #d4d4d4;
@define-color surface2 #c7c7c7;

@define-color overlay0 #b3b3b3;
@define-color overlay1 #a6a6a6;
@define-color overlay2 #999999;

@define-color blue      #007acc;
@define-color lavender  #9c9cff;
@define-color sapphire  #007acc;
@define-color sky       #33ccff;
@define-color teal      #00cccc;
@define-color green     #33cc33;
@define-color yellow    #ffcc66;
@define-color peach     #ff9966;
@define-color maroon    #ff6699;
@define-color red       #ff3333;
@define-color mauve     #cc99ff;
@define-color pink      #ff99cc;
@define-color flamingo  #ff9999;
@define-color rosewater #ffcccc;

* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 13px;
}

window#waybar {
    background-color: @crust;
    color: @text;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: @base;
}

window#waybar.chromium {
    background-color: @base;
    border: none;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

#workspaces button:hover {
    background: @surface0;
    border: @surface0;
}

#workspaces button {
    padding: 0 8px;
    color: @text;
    border-radius: 15px;
    margin: 5px 0 5px 5px;
}

#workspaces button.selected {
    background-color: @text;
}

#workspaces button.active {
    background-color: @surface0;
}

#workspaces button.urgent {
    background-color: @red;
    color: @crust;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-power,
#custom-updates,
#tray,
#mode,
#cpu,
#memory,
#window,
#custom-network_traffic,
#custom-notification,
#custom-light_dark,
#idle_inhibitor,
#scratchpad,
#mpd {
    padding: 0 12px;
    background-color: @base;
    color: @crust;
    border-radius: 15px;
    margin: 5px 0;
}

#workspaces {
    margin: 0 4px;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

label:focus {
    background-color: @base;
}

#clock, #custom-network_traffic, #window {
  color: @text;
}

#custom-updates {
  color: @red;
}

#disk {
    color: @blue;
}

#pulseaudio, #pulseaudio.microphone {
  color: @blue;
}

#pulseaudio.muted {
  color: @overlay1;
}

#network {
  color: @green;
}

#network.disconnected {
  color: @overlay1;
}

#battery {
    color: @green;
}

#battery.warning:not(.charging) {
    background-color: @red;
    color: @crust;
}

#custom-power {
  color: @blue;
}

#cpu, #memory, #custom-notification, #custom-light_dark {
  color: @blue;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

